*{
    margin:0;
    padding:0;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
 }
p{
    color:dimgray;
    margin-top:5px;
}
h4{
    font-size:28px;
    margin-top:10px;
}
section{
    height:600px;
}
.text-color{
    color:#EC4F8F;
    display:block;
    font-size:34px;
}
.name-section{
   background-image:url("images/header-bg.png") ;
   background-repeat:no-repeat;
   background-size:cover;
   
}
.half-width{
    width:40%;
    float:left;
    padding:3%;
    margin:2%;
    display:block;
}
.half-width img{
    width:50%;

}
.btn-style{
    text-decoration:none;
    padding:10px 20px;
    border-radius:5px;
    color:white;
    background-color:#EC4F8F;

}
.biography-section{
    background-image:url("images/biography-bg.png") ;
    background-repeat:no-repeat;
    background-size:cover;
    display:block;
}
.one-third{
    width:100%;
    display:block;
}
.one-third img{
    width:25%;
    padding:3%;
    float:left;
    display:block;

} 
.center{
    text-align:center;
}